@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './variables.scss';
@import './components/header/Header.scss';
@import './components/card/Card.scss';
@import './pages/home/Home.scss';
@import './components/addForm/AddForm.scss';
@import './components/footer/Footer.scss';
@import './components/contactUs/ContactUs.scss';
@import './components/loader/Loader';
@import './components/admin/Admin';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', cursive;
}
.App{
    position: relative;
}
.container{
    .title{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding: 40px 0;
    }
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 260px);
    padding-bottom: 50px;
}
