.header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    .header-container{
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        .navbar{
            background-color: transparent;
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }
}