.products{
    max-width: 1200px;
    margin: 0 auto;
    .services-title{
        text-align: center;
    }
    .products-container{
        .card{
            width: 300px;
            height: 200px;
            background-size: cover;
            border: 4px solid #ABC4FF;
            border-radius: 10px;
            position: relative;
            &:hover{
                .card-title{
                    font-weight: bold;
                    color:#fff;
                    transition:color .3s linear;
                }
                .card-layout{
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    border-radius:6px;
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
            }
            .card-layout{
                .card-img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                }
                .card-title{
                    position: absolute;
                    text-align: center;
                    top: 50%;  
                    left: 50%;            
                    transform: translate(-50%, -50%);
                    width: 100%;
                    font-weight: bold;
                }
            }
        }
    }
}